<% if !@errors.blank? %>
<div class="text-danger">
<p>
    <%= "#{@errors}" %>
</p>
</div>
<% end %>
<form role="form" action="<%= words_form_action(@word) %>" id="<%= words_form_id(@word) %>" class="<%= words_form_class(@word) %>" method="post">
    
       
    <input type="hidden" name="_method" value="<%= words_form_method(@word) %>" />

    
    <div class="form-group">         
        <label for="text" style="text align-center">Go ahead! Make a contribution!</label>
                    <input type="text" name="text" class="form-control" placeholder="Enter new word." value="<%= @word.text %>"/></div>
        
    <div class="form-group row">  
   <div> <button type="submit" class="btn btn-default">Submit</button>
    </div>
        </div>

    </form>